@import '../../assets/sass/variables.scss';

.bgLightBlue {
    background-color: $theme-light-blue;
}

.iconBarn {
    position: relative;
    z-index: 0;
}

.textBarn {
    color: black;
    font-size: 1.25rem;
    font-weight: $font-weight-bold;
    line-height: 26px;
    position: relative;
    z-index: 1;
    top: 36%;
    right: 50%;
}

.bgCard {
    background-color: white;
    border-radius: 4px;
    width: 340px;
}

.textFlockGen {
    color: #464646;
    font-weight: $font-weight-bold;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.textDate {
    color: #888888;
    font-size: 0.5rem;
    font-weight: $font-weight-regular;
    letter-spacing: 0.05em;
}

.containerDay {
    background-color: #2e86ab;
    border-radius: 4px;
}

.containerGender {
    background-color: #2e86ab;
    border-radius: 4px;
    height: 1rem;
    width: 3rem;
}

.textContainer {
    color: #ffffff;
    margin: 0;
    font-size: 0.5rem;
    font-weight: $font-weight-regular;
}

.textDetail {
    color: #666666;
    font-size: 0.5rem;
    font-weight: $font-weight-regular;
    margin: 0;
}

.textNumber {
    color: #666666;
    font-size: 0.625rem;
    font-weight: $font-weight-medium;
    margin: 0;
}

a.dropdownItem {
    padding: 0;
}

:global {
    .dropdown-menu {
        border: none;
        min-width: 0;
        padding-top: 0;
    }
}
