@import '../../assets/sass/variables.scss';

.bgLightBlue {
    background-color: $theme-light-blue;
}

.bgCard {
    background-color: white;
    width: 340px;
}

.textFlockGen {
    color: #464646;
    font-weight: $font-weight-bold;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.textDate {
    color: #888888;
    font-size: 0.5rem;
    font-weight: $font-weight-regular;
    letter-spacing: 0.05em;
}

.containerDay {
    background-color: #2e86ab;
    border-radius: 4px;
}

.containerGender {
    background-color: #307fff;
    border-radius: 4px;
    height: 1rem;
    width: 3rem;
}

.containerType {
    background-color: #3aafae;
    border-radius: 4px;
}

.textContainer {
    color: #ffffff;
    margin: 0;
    font-size: 0.5rem;
    font-weight: $font-weight-regular;
}

.textDetail {
    color: #666666;
    font-size: 0.75rem;
    font-weight: $font-weight-regular;
    margin: 0;
}

a.dropdownItem {
    padding: 0;
}

// div.dropdown-menu {
//     border: none !important;
//     min-width: 0 !important;
// }

:global {
    .dropdown-menu {
        border: none;
        min-width: 0;
        padding-top: 0;
    }
}

.columnLeft {
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.columnMiddleLeft {
    width: 5rem;
    margin-left: 1.5rem;
}

.columnMiddleRight {
    width: 5rem;
    margin-left: 1.5rem;
}

.columnRight {
    width: 1rem;
}

.chickNum{
    margin-right: 1rem;
    width: 5rem;
}

.chickAge{
    margin-left: 1rem;
    width: 5rem;
}