@import '../../assets/sass/variables.scss';

.bgLightBlue {
    background-color: $theme-light-blue;
}

.tabActive {
    color: $theme-blue-green-color;
    fill: $theme-blue-green-color;
    fill-opacity: 1;
    stroke-opacity: 1;
    padding-left: 0;
    background-color: white;
}

.tab {
    padding-left: 0;
    background-color: white;
}

svg {
    fill: #bdbdbd;
    fill-opacity: 0.6;
}

.tabActive svg {
    fill: $theme-blue-green-color;
    fill-opacity: 1;
    stroke-opacity: 1;
}

.line {
    border: 1px solid #bdbdbd;
}

.lineHover {
    border: 1px solid #2e86ab;
}

.textTitle {
    color: rgba(189, 189, 189, 0.6);
    font-size: 0.4375rem;
    font-weight: $font-weight-book;
    line-height: 9px;
    text-align: center;
    letter-spacing: 0.02em;
}

.textTitleHover {
    color: $theme-blue-green-color;
    font-size: 0.4375rem;
    font-weight: $font-weight-book;
    line-height: 9px;
    text-align: center;
    letter-spacing: 0.02em;
}
